@font-face {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: bold;
  src: url('https://res.cloudinary.com/frichti/raw/upload/v1679668734/Agrandir-WideBlack_yruhuk.otf') format('opentype');
}

@font-face {
  font-family: 'Agrandir';
  font-style: normal;
  font-weight: normal;
  src: url('https://res.cloudinary.com/frichti/raw/upload/v1679668734/Agrandir-WideLight_jxaznf.otf') format('opentype');
}
