@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: bold;
  src: url('https://res.cloudinary.com/frichti/raw/upload/v1679668734/CircularStd-Bold_bfwbmf.otf') format('opentype');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: normal;
  src: url('https://res.cloudinary.com/frichti/raw/upload/v1679668734/CircularStd-Book_fyu9t2.otf') format('opentype');
}
